{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="row" id="login">
    <div class="col"></div>
    <div class="col-3" id="login-subject">
        <div class="alert alert-primary" role="alert">
            Please enter your ID and Password
        </div>
        <form action="" method="POST" id="login-form">
            {% csrf_token %}
            {{form.as_p}}
            <ul>
                <input type="submit" value="login" class="btn btn-outline-primary"/>
                <a class="btn btn-outline-primary" href="{% url 'accounts:signup' %}">signup</a>
            </ul>
        </form>
    </div>
    <div class="col"></div>
</div>
{% endblock %}