{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-5">
            
            <div class="card" style="width: 8rem;">
              <img src="//cache.mrporter.com/images/products/1161222/1161222_mrp_in_m2.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">name</p>
              </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>
{% endblock %}