{% extends 'base.html' %}
{% block title %}
{% endblock %}

{% block content %}
<div class="recommend-box">
    <center><h1 class="page-header">Recommendation</h1></center>
</div>
<div class="row" id="recommend-list">
    <div class="col">
    <div class="row">
        <div class="card-group">
            {% for rec in recommend %}
            <div class="card">
                <img src="{{ rec.2 }}" class="card-img-top" alt="...">
                <div class="card-body">
                <p class="card-text"><strong>{{ rec.1 }}</strong> <br>Designer : <strong>{{rec.3}}</strong> <br> Expected Rating : <strong>{{rec.0|floatformat}}</strong></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}