{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="review-box">
    <h1 class="page-header">Reviews</h1>
    <p>
        <button type="button" class="btn btn-primary" onclick="create_review()">
            <span class="glyphicon glyphicon-plus"></span>
            Review
        </button>
    </p>
    <table class="table" id="book-table">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Title</th>
        <th>Designer</th>
        <th>Price</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for rev in Review %}
        <tr>
          <td>{{ rev.id }}</td>
          <td>{{ rev.image }}</td>
          <td>{{ rev.title }}</td>
          <td>{{ rev.designer }}</td>
          <td>{{ rev.price }}</td>
          <td>{{ rev.score }}</td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No Reviews</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>

    <div class="modal fade" id="modal-review">
        <div class="modal-content">
        </div>
    </div>

</div>
<script type="text/javascript">
    function create_review() {
        var form = $(this);
        $.ajax({
            url: '/service/create_review/',
            type: 'get',
            dataType: 'json',
            beforeSend: function () {
                $("#modal-review .modal-content").html("");
                $("#modal-review").modal("show");
            },
            success: function (data) {
                $("#modal-review .modal-content").html(data.html_form);
            }
        });
    }
</script>

{% endblock %}