{% extends 'base.html' %}

{% load static %}

{% block content %}
<script src="{% static 'service/js/review.js' %}" type="text/javascript"></script>

<div class="review-box">
    <h1 class="page-header">Reviews</h1>
    <p>
        <button type="button" class="btn btn-primary js-create-review" data-url="{% url 'service:create_review' %}">
            <span class="glyphicon glyphicon-plus"></span>
            New Review
        </button>
    </p>
    <table class="table" id="review-table">
    <thead>
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Designer</th>
        <th>Price</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for rev in review %}
        {% if rev.userid == user.username %}
        <tr>
          <td>
            <img src="{{ rev.image }}" width=80 height=80>
          </td>
          <td>{{ rev.title }}</td>
          <td>{{ rev.designer }}</td>
          <td>{{ rev.price }}</td>
          <td>{{ rev.score }}</td>
        </tr>
        {% endif %}
      {% empty %}
        <tr>
          <td colspan="7" class="text-center bg-warning">No Reviews</td>
        </tr>
      {% endfor %}
    </tbody>
    </table>

    <div class="modal fade" id="modal-review">
        <div class="modal-dialog">
            <div class="modal-content"></div>
        </div>
    </div>

</div>

{% endblock %}